.gradient-background{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  padding: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.text-body-emphasis{
  font-size: 2.75rem;
  padding-bottom: 10px;
}

.btn-outline-secondary{
  color: white;
  border: solid 1px white;
}

.btn-primary{
  background-color: white;
  color: black;
  border: none;
  
}
.rounded-lg-3{
  padding-top: 5px;
  padding-bottom: none;
}
.icon-square{
  padding-top: 10px;
}
#features{
  margin-top: 5px;
}
.btn-outline-primary{
  border: 1px solid black;
  color: black;
}
.btn-primary{
  background-color: black;
  color: white;
}
.border-primary{
  border-color: black;
}
.bbc{
  background-color: black;
}
n3{
  margin-bottom: none;
}